*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     height: 100vh;
     width: 100vw;
     display: grid;
     place-content: center;
}
.container{
     width: 500px;
     display: flex;
     flex-direction: column;
     gap: 1rem;
}
#heading{
     text-align: center;
}
.buttons{
     display: flex;
     justify-content: space-between;
}
.buttons button{
     background-color: rgb(20, 91, 199);
     padding: .4rem 1rem;
     font-size: 1.2rem;
     border-radius: .2rem;
     border: none;
     outline: none;
     cursor: pointer;
     color: #fff;
}
