*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     height: 100vh;
     width: 100vw;
     display: grid;
     place-content: center;
}
.container{
     display: flex;
     flex-direction: column;
     gap: 1rem;
}
.img-container{
     height: 250px;
     width: 250px;
     margin: 0 auto;
     border-radius: .5rem;
     border: 4px solid black;
}
.img-container img{
     width: 100%;
     height: 100%;
     border-radius: .5rem;
}
#name{
     text-align: center;
}
.buttons{
     display: flex;
     justify-content: space-around;
     gap: 1rem;
}
.buttons button, #getUser{
     width: 100px;
     height: 35px;
     font-size: 1.1rem;
     color: #fff;
     background-color: #5886b1;
     cursor: pointer;
     outline: none;
     border: none;
     border-radius: .4rem;
}
#additional-info{
     text-align: center;
}
#getUser{
     width: 150px;
     height: 40px;
     background-color: #0b66bb;
}
